[submodule "Volley"]
	path = Volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "modules/volley"]
	path = modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
